@model fanaticServe.Dto.DetailEvent

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-5">
                @Html.DisplayNameFor(modelItem => Model.Place):@Html.DisplayFor(modelItem => Model.Place)
            </div>
            <div class="col-sm-5">
                @Html.DisplayNameFor(modelItem => Model.Perform_at):@Html.DisplayFor(modelItem => Model.Perform_at)
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (!String.IsNullOrEmpty(Model.Note))
        {
            <div class="row">
                <div class="col-sm-12">@Model.Note</div>
            </div>
        }
        @await Html.PartialAsync("_SetListsView", Model.SetLists)
    </div>
</div>
