@model IEnumerable<fanaticServe.Dto.ShowableSetList>

@if (Model != null)
{
    <div class="row">
        <div class="col-2"><i>曲順</i></div>
        <div class="col-5"><i>曲名</i></div>
        <div class="col-5"></div>
    </div>
    @foreach (var setList in Model)
    {
        <div class="row">
            <div class="col-2">
                @Html.DisplayFor(model => setList.Set_List_No)
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => setList.Title)
            </div>
            <div class="col-5">
                @Html.DisplayFor(model => setList.Note)
            </div>
        </div>
    }

}
