@model IEnumerable<fanaticServe.Dto.ShowableSetList>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr >
                <th class="set-list-number"><i>曲順</i></th>
                <th class="set-list-title"><i>曲名</i></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var setList in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => setList.Set_List_No)
                    </td>
                    <td>
                        @Html.DisplayFor(model => setList.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => setList.Note)
                    </td>
                </tr>
            }
    </table>
}
