@model IEnumerable<fanaticServe.Dto.ShowableLiveEvent>

@if (Model != null)
{
    <div>
        <div class="row">
            <div></div>
            <div></div>
        </div>
        @foreach (var liveEvent in Model)
        {
            <div class="row">
                <div>@Html.DisplayFor(mbox => liveEvent.Perform_At)</div>
                <div>@Html.DisplayFor(mbox => liveEvent.Title)</div>
            </div>
        }
    </div>
}
