@model IEnumerable<fanaticServe.Models.Track>

@* Track情報 *@
@if (Model != null)
{
    <div class="row">
        収録曲
    </div>

    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th><i>トラック番号</i></th>
                        <th><i>曲名</i></th>
                        <th><i>長さ[秒]</i></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var track in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => track.Track_No)</td>
                            <td>
                                <a asp-controller="songs" asp-action="detail" asp-route-id="@track.Song_Id">@Html.DisplayFor(modelItem => track.Title)</a>
                            </td>
                            <td>@Html.DisplayFor(modelItem => track.Length)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}