.vs/
bin/
obj/
環境構築/
work/

基本設定.xlsx

整理用.xlsx
*.md
/fanaticServe.Back.Tests/DataSource/abstract_album.dat
/fanaticServe.Back.Tests/DataSource/abstract_album_link.dat
/fanaticServe.Back.Tests/DataSource/abstract_album_note.dat
/fanaticServe.Back.Tests/DataSource/abstract_event.dat
/fanaticServe.Back.Tests/DataSource/abstract_event_link.dat
/fanaticServe.Back.Tests/DataSource/abstract_event_note.dat
/fanaticServe.Back.Tests/DataSource/album.dat
/fanaticServe.Back.Tests/DataSource/album_note.dat
/fanaticServe.Back.Tests/DataSource/label.dat
/fanaticServe.Back.Tests/DataSource/live_event.dat
/fanaticServe.Back.Tests/DataSource/live_event_note.dat
/fanaticServe.Back.Tests/DataSource/media.dat
/fanaticServe.Back.Tests/DataSource/organization.dat
/fanaticServe.Back.Tests/DataSource/part_type.dat
/fanaticServe.Back.Tests/DataSource/person.dat
/fanaticServe.Back.Tests/DataSource/role.dat
/fanaticServe.Back.Tests/DataSource/roleOnAlbum.dat
/fanaticServe.Back.Tests/DataSource/roleOnSong.dat
/fanaticServe.Back.Tests/DataSource/set_list.dat
/fanaticServe.Back.Tests/DataSource/set_list_note.dat
/fanaticServe.Back.Tests/DataSource/site.dat
/fanaticServe.Back.Tests/DataSource/song.dat
/fanaticServe.Back.Tests/DataSource/song_note.dat
/fanaticServe.Back.Tests/DataSource/track.dat
/fanaticServe.Back.Tests/fanaticServe.Back.Tests.csproj
