@model fanaticServe.Dto.DetailSong
@{
    ViewData["Title"] = Model.Title;
}

<h1>@ViewData["Title"]</h1>

<dv>カナ:@Html.DisplayFor(m => m.Kana)</dv>

<div class="article-outer">
    <div class="article-inner">
        @await Html.PartialAsync("_albumsView", Model.Albums)
    </div>
</div>

<div class="article-outer">
    <div class="article-inner">
        @await Html.PartialAsync("_ShowableLiveEventView", Model.LiveEvents)
    </div>
</div>


