@model fanaticServe.Dto.DetailSong
@{
    ViewData["Title"] = Model.Title;
}

<h1><ruby>@ViewData["Title"]<rt><span class="ruby">@Html.DisplayFor(m => m.Kana)</span></rt></ruby></h1>

<div class="article-outer">
    <div class="article-inner">
        @await Html.PartialAsync("_albumsView", Model.Albums)
    </div>
</div>

<div class="article-outer">
    <div class="article-inner">
        @await Html.PartialAsync("_ShowableLiveEventView", Model.LiveEvents)
    </div>
</div>


