@{
    ViewData["Title"] = "Data source";
}
<h1>@ViewData["Title"] </h1>
<p>
    サイト内で使用しているデータを以下の形式で出力したもの。<br />
    適宜更新しています。<br />
    必要であればGitHubから取得してください。
</p>
<p>
    <A href="https://github.com/s-h-u-n-u-s-u-k-e-s-a-t-o-u/fanaticServeData">GitHub fanaticServe Data</A>
</p>

<ul>
    <li>text形式</li>
    <li>utf-8</li>
    <li>tab区切り</li>
    <li>ヘッダー無し</li>
    <li>1テーブル1ファイルで作成する</li>
    <li>ファイル名=テーブル名</li>
</ul>

<p><a href="https://github.com/s-h-u-n-u-s-u-k-e-s-a-t-o-u/fanaticServeDocument/blob/main/db_design_base.md">データ間の関連図</a></p>